<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {{ lia_get('lia.service.theme').renderTop() }}
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {{ lia_get('lia.service.theme')->renderBottom() }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
